@import url(../components/shared/color.css);

/*if :root here, the CSS doesn't apply for the :root (because it's defined in ":root .dark" and not in ":root")*/
body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--dark-color-root);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  font-weight: 500;
  color: var(--text-link);
  text-decoration: none;
}
a:hover {
  color: var(--text-link-hover);
}

button {
  border-radius: 8px;
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  background-color: var(--dark-color5);
  color: var(--text-color);
  cursor: pointer;
  transition: background-color 0.25s;
}
button:hover {
  background-color: var(--dark-color3);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: white;
  }

  a:hover {
    color: var(--text-link-hover);
  }

  button {
    background-color: #f0f0f0;
    color: #000;
  }
  button:hover {
    background-color: #ddd;
  }
}
