.activity-card {
    background-color: #1f1f1f;
    border-radius: 12px;
    padding: 1.5rem;
    margin: 40px auto 40px;
    max-width: 800px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
    color: var(--text-color);
}
.activity-card .end{
    display: flex;
    justify-content: end;
}

.activity-title {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: #61dafb;
    text-align: center;
}

.activity-content span,
.activity-content p {
    display: block;
    margin: 0.3rem 0;
    color: #d0d0d0;
}

.activity-content p {
    font-size: 1rem;
    line-height: 1.4;
}

.activity-card img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 8px;
    margin: 1rem 0;
}

.activity-buttons {
    display: flex;
    gap: 0.75rem;
    flex-wrap: wrap;
    margin-top: 1.5rem;
    justify-content: center;
}

.activity-buttons button {
    background-color: #3a3aff;
    border: none;
    padding: 0.6rem 1.2rem;
    color: var(--text-color);
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    margin: 0 1rem;
    transition: background-color 0.3s;
}

.activity-buttons button:hover {
    background-color: #2c2ccf;
}

.activity-buttons .red {
    background-color: red;
}

.activity-buttons .red:hover {
    background-color: darkred;
}




.update-activity-form {
    background-color: #1f1f1f;
    padding: 2rem;
    border-radius: 12px;
    max-width: 800px;
    margin: 2rem auto;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.update-activity-form h2 input {
    font-size: 1.6rem;
    padding: 0.4rem;
    border: none;
    background-color: #333;
    color: var(--text-color);
    border-radius: 6px;
    width: 100%;
}

.update-activity-form textarea {
    width: 100%;
    min-height: 120px;
    padding: 0.6rem;
    background-color: #333;
    color: var(--text-color);
    border-radius: 6px;
    border: none;
}

.update-activity-form input[type="date"] {
    padding: 0.6rem;
    background-color: #333;
    color: var(--text-color);
    border-radius: 6px;
    border: none;
}

.update-activity-form button {
    margin-top: 1rem;
    padding: 0.6rem 1.2rem;
    background-color: #3a3aff;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    color: var(--text-color);
    cursor: pointer;
    transition: background-color 0.2s;
}

.update-activity-form button:hover {
    background-color: #2c2ccf;
}

.error-messages {
    background-color: #b00020;
    padding: 1rem;
    border-radius: 8px;
    margin-bottom: 1rem;
    color: var(--text-color);
}

