:root .dark {
  --text-color: white;
  --text-link: #646cff;
  --text-link-hover: #747bff;
  --secondary-text-color: #dddddd;
  --text-message-user: #4aa3ff;
  --text-header: #61dafb;
  --all-text-color: white;

  --button-background: #3a3aff;
  --button-background-hover: #2c2ccf;
  --button-submit: #368de2;

  --error-background: #b00020;

  --light-grey: #aaa;
  --grey: #444;
  --dark-grey: #333;

  --dark-color0: #2b2b2b;
  --dark-color1: #2a2a2a;
  --dark-color2: #1f1f1f;
  --dark-color3: #2b2b2b;
  --dark-color4: #1e1e1e;
  --dark-color5: #1a1a1a;
  --dark-color6: #2e2e2e;
  
  /*#242424*/
  
  --dark-color-root: #242424;
}

:root .light {
  --text-color: black;
  --text-link: #646cff;
  --text-link-hover: #747bff;
  --secondary-text-color: #dddddd;
  --text-message-user: #4aa3ff;
  --text-header: #61dafb;
  --all-text-color: black;

  --button-background: #127369;
  --button-background-hover: #40AEA3;
  --button-submit: #368de2;

  --error-background: #b00020;

  --light-grey: #aaa;
  --grey: white;
  --dark-grey: #333;

  --dark-color0: #BFBFBF;
  --dark-color1: #D0E6EC;
  --dark-color2: #D9D9D9;
  --dark-color3: #ffffff;
  --dark-color4: #7d98b1;
  --dark-color5: #334dc0;
  --dark-color6: #23b31e;


  --dark-color-root: #93A0A3;
}